body .mobile {
   /*font-family: zen-maru-gothic, sans-serif;*/
   font-family: sans-serif;
   font-weight: 300;
   font-style: normal;
   color: var(--bg);
   background: var(--text);
   background-image: url("https://mizukioyama.github.io/pd/hp-img/pd-bg-img02.png");
   background-repeat: repeat-y;
   background-attachment: fixed;
   background-size: cover;
   position: relative;
   width: 100%;
   height: auto;
   padding-top: 20px;
   overflow-x: hidden;
}

/*body::before {
    content: "";
    position: absolute;
    top: 0;
    width: 5.5%;
    height: 100%;
    background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
    z-index: 10;
background-size: auto auto;
    background-image:
        linear-gradient(90deg, transparent 1%, rgba(146, 146, 146, 0.25) 2%),
        linear-gradient(0deg, transparent 1%, rgba(146, 146, 146, 0.25) 2%);
background-size: 50px 5px, 5px 50px;
    background-position: center;
}

/*@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 10% 10%;
    }
}*/

body .mobile::after {
   content: "";
   position: fixed;
   left: 5.5%;
   bottom: 0;
   width: 100%;
   height: 20px;
   background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
   border-top: 1px solid var(--border);
}

.guide-top {
   position: fixed;
   top: 0;
   left: 5.5%;
   width: 100%;
   height: 20px;
   background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
   border-bottom: 1px solid var(--border);
   z-index: 10;
}

.guide-top::before,
.guide-top::after {
   content: "";
   position: fixed;
   top: 0;
   right: 0;
   width: 2.5%;
   height: 100%;
   border-left: 1px solid var(--border);
}

.guide-top::after {
   height: 100%;
   top: 0;
   border: 0;
   background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
}

/*@keyframes bg-img-move {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes bg-img-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}*/
.mobile {
   h1 {
      /*font-size: 62.5%;=16px 12rem=120px*/
      font-size: clamp(8rem, calc(8rem + 0.5vw), 10rem);
      font-family: "Jost", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      color: var(--bg);
      width: fit-content;
      line-height: 30rem;
      letter-spacing: 3rem;
   }

   .noise {
      background: linear-gradient(to bottom right, var(--bg), var(--text)) fixed;
      -webkit-background-clip: text;
      -webkit-text-fill-color: darkgray;
      --lines: 0.0003px;
      mask: repeating-radial-gradient(circle at center,
            #000,
            var(--lines),
            #000,
            0,
            #0000,
            calc(var(--lines) * 2),
            #0000 0);
      /* フォールバック：マスクがサポートされない場合の背景色 */
      background-color: lightgray;
      color: var(--text);
      /* フォールバック用のテキスト色 */
   }

   @media (prefers-color-scheme: light) {
      .noise {
         background: linear-gradient(to bottom, black, gray) fixed;
         -webkit-background-clip: text;
         -webkit-text-fill-color: darkgray;
         color: var(--bg);
      }
   }

   h2,
   h3,
   h4 {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: var(--bg);
   }

   h2 {
      /*font-size: 62.5%;=16px 6rem=62px*/
      font-family: sans-serif;
      font-weight: 500;
      font-size: clamp(2rem, calc(2rem + 0.5vw), 6rem);
      width: fit-content;
      line-height: 15rem;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--bg);
   }

   .policy h2 {
      line-height: 5rem;
   }

   h3 {
      /*font-size: 62.5%;=16px 4rem=42px*/
      font-size: clamp(2rem, calc(2rem + 0.5vw), 4rem);
   }

   p {
      /*font-size: 62.5%;=16px 1.2rem=12px*/
      font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
      width: fit-content;
      letter-spacing: 0.01rem;
      line-height: 3rem;
   }


   ol,
   ul {
      font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
      font-family: sans-serif;
   }

   li {
      font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
      list-style: none;
   }

   /*===================== リンク =====================*/
   main {
      border-bottom: 1px solid var(--border);
   }

   /*main::before {
    content: "";
    width: 89%;
    margin: 0 auto;
    border-top: 1px solid var(--border);
    display: block;
}*/

   main a {
      border: 1px solid;
      padding: 1rem;
      letter-spacing: 0.15rem;
   }

   a {
      font-family: futura-pt, sans-serif;
      font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2.4rem);
      font-weight: 400;
      color: var(--accent);
      width: fit-content;
      height: fit-content;
      padding: 0.25rem 0.5rem;
      left: 0;
      bottom: 0;
      position: relative;
      display: inline-block;
      text-decoration: none;
      z-index: 100;
   }

   /*.top-s a {
    border: 1px solid var(--border);
}*/

   a:hover {
      color: rgba(217, 217, 217, 0.5);
   }

   header a::after,
   footer a::after {
      content: "";
      width: 100%;
      height: 1px;
      bottom: 5px;
      position: absolute;
      left: 0;
      background-color: var(--bg);
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.3s ease;
   }

   header a:hover::after,
   footer a:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
   }

   main .button {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      width: 150px;
      height: 40px;
      margin-left: 0.5vmin;
      position: relative;
      transition: 0.3s;
   }

   main .button::before,
   main .button::after {
      content: "";
      display: block;
      position: absolute;
      border: 1px solid var(--border);
      width: 100%;
      height: 100%;
      transition: .3s;
   }

   main .button::before {
      top: -5px;
      left: -5px;
   }

   main .button::after {
      top: 3px;
      left: 3px;
   }

   main .button:hover::before,
   main .button:hover::after {
      top: 0;
      left: 0;
   }

   /*===================== リンク =====================*/

   .hr {
      width: 100%;
      height: 100px;
      position: relative;
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
   }

   /*.hr::after {
    content: "";
    width: 100%;
    height: 100px;
    display: block;
    position: absolute;
    top: -50px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
*/
   /*.hr::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            var(--bg) 0%,
            var(--text) 100%,
            transparent);
    animation: scroll-left 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    background-size: 200% 100%;
    transition: all 20s;
    animation-delay: 2s;
    animation-duration: 3.5s;
}

@keyframes scroll-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}*/

   /*===================== img =====================*/
   img {
      max-width: 100%;
      width: 65%;
      height: auto;
      object-fit: cover;
      vertical-align: middle;
      font-style: italic;
      background-repeat: no-repeat;
      background-size: cover;
      shape-margin: 0.75rem;
      mix-blend-mode: luminosity;
      z-index: -1;
   }


   /*===================== Section =====================
section {
    width: 100%;
}
*/
   /*===================== tabs h1 top =====================*/
   .tabs .top-h1 {
      position: absolute;
      top: 0;
      left: 0;
      width: fit-content;
      padding-left: 4rem;
      border-right: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      z-index: 1;
      /*backdrop-filter: blur(15px);*/
      /*border: 1px solid rgba(217, 217, 217, 0.45);*/
      /*box-shadow: 0 2px 3px rgba(46, 46, 46, 0.4);*/
   }

   .tabs .top-h1::after {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      border-right: 1px solid var(--border);
   }

   .tabs video {
      width: 80%;
      position: absolute;
      top: 10%;
      right: 0.5%;
      z-index: 0;
   }

   .tabs .caption {
      font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2rem);
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.5rem 1rem 1.5rem 4rem;
      border: 1px solid var(--border);
      border-left: 0;
      border-bottom: 0;
      z-index: 1;
   }

   /*.tabs .caption::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 1px solid var(--border);
}*/

   .tabs .top-h1 .caption {
      font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
      position: relative;
      width: 100%;
      padding: 1rem 0;
      margin: 0;
      border: 0;
      border-top: 1px solid var(--border);
   }

   .tabs .top-h1 .caption::after {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      border-right: 1px solid var(--border);
   }

   /*===================== h1 top =====================*/

   /*===================== section =====================*/
   section .top-s {
      height: auto;
      min-height: 800px;
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      padding: 0 3vw;
      text-align: justify;
      display: flex;
      position: relative;
      /* 縦に並べる */
      flex-direction: column;
      /*縦方向の中央寄せ*/
      justify-content: center;
      gap: 20px;
      z-index: 1;
   }

   section .top-s::before,
   section .top-s::after {
      content: "";
      width: 170px;
      height: 170px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top-right-radius: 170px;
      border-right: 1px solid var(--border);
      border-top: 1px solid var(--border);
      border-right: 1px solid var(--border);
      border: 1px solid var(--border);
   }

   section .top-s::after {
      width: 120px;
      height: 120px;
      border-top-right-radius: 120px;
   }

   .tabs .top-s::before,
   .tabs .top-s::after {
      display: none;
   }

   .top .tabs::after,
   .top .section1::after,
   .top .section2::after,
   .top .section3::after {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      border-right: 1px solid var(--border);
      z-index: 0;
   }


   .h2-bg {
      font-family: sans-serif;
      width: 50%;
      height: 200px;
      border-right: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      padding: 2rem 0 0 3rem;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
   }

   .top .section1 .h2-bg,
   .top .section2 .h2-bg,
   .top .section3 .h2-bg {
      border-right: 0;
   }

   .policy .h2-bg span {
      font-size: clamp(6rem, calc(6rem + 0.1vw), 6.4rem);
   }

   .h2-bg p::before {
      content: "";
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      bottom: 45px;
      border-top: 1px solid var(--border);
      /*background-color: rgba(217, 217, 217, 0.15);
    background-image: repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(46, 46, 46, 1) 1px, rgba(46, 46, 46, 1) 2px);*/
   }

   .section4 .top-s {
      justify-content: center;
   }

   .top section .top-s .text {
      width: 500px;
      height: 150px;
   }

   .section3 .button {
      margin-top: 3rem;
   }

   .top .section3 .top-s .text {
      margin-top: 2vmin;
   }

   /*===================== .service =====================*/

   .se-list {
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
   }

   .se::after {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 5%;
      right: -10%;
      width: 100%;
      height: 300px;
      opacity: 0;
      transition: opacity 0.15s ease;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center top;
   }

   /* Hover or Focus Animation */
   .se:hover::after,
   .se:focus::after {
      opacity: 1;
   }

   .se-01:hover::after,
   .se-01:focus::after {
      background-image: url('https://mizukioyama.github.io/pd/hp-img/2341suisai.png');
   }

   .se-02:hover::after,
   .se-02:focus::after {
      background-image: url('https://mizukioyama.github.io/pd/hp-img/ai-suisai.png');
   }

   .se-03:hover::after,
   .se-03:focus::after {
      background-image: url('https://mizukioyama.github.io/pd/hp-img/kouryoku-suisai.png');
   }

   .top .se {
      position: relative;
      height: 30%;
      margin-top: 2.5rem;
   }

   .top .se h3 {
      font-size: clamp(6rem, calc(6rem + 0.5vw), 8rem);
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 30%;
      padding: 0 1rem;
      border-bottom: 1px solid var(--border);
   }

   .top .se p {
      position: absolute;
      right: 5%;
      bottom: 15%;
   }

   /*video size*/
   .top .se .video-1,
   .top .se .video-2,
   .top .se .video-3 {
      width: 100%;
      height: 90%;
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid var(--border);
      border-left: 0;
      border-right: 0;
   }

   .se .video-1::before,
   .se .video-2::before,
   .se .video-3::before {
      content: "";
      width: 35px;
      height: 100%;
      position: absolute;
      left: 0;
      border-right: 1px solid var(--border);
   }

   /*===================== .works =====================*/

   .work {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
   }

   .design h3,
   .art h3 {
      padding-left: 0.5rem;
   }

   .design,
   .art {
      position: absolute;
      border: 1px solid var(--border);
   }

   .design {
      right: 15vmin;
      bottom: 10vmin;
      width: 380px;
      height: 400px;
   }

   .design video {
      width: 350px;
      height: 350px;
      margin-left: 2%;
      background: var(--border);
   }

   .art {
      width: 260px;
      height: 280px;
      right: 10vmin;
      bottom: 1vmin;
   }

   .art video {
      width: 235px;
      height: 235px;
      margin-left: 2%;
      background: var(--border);
   }

   /*===================== section in-box =====================*/

   section #top-img {
      width: 80%;
      top: -10%;
      right: 0;
   }

   /*===================== img*/
   section img {
      position: absolute;
   }

   .tabs img {
      width: 70%;
      top: -15%;
      right: -5%;
   }

   .top .section1 img,
   .top .section2 img,
   .top .section3 img,
   .top .section4 img {
      width: 400px;
      min-width: 250px;
      background: var(--hover);
   }

   .top .section1 img {
      height: 400px;
      top: 25%;
      right: -5%;
      /*clip-path: circle(40% at left);*/
   }

   .top .section1 img:last-child {
      width: 30%;
      height: 350px;
      top: 45%;
      right: 15%;
   }

   .top .section3 img {
      width: 25%;
      left: 0;
      bottom: 3%;
   }

   .top .section4 img {
      width: 45%;
      bottom: -5%;
      right: 0;
      transform: rotate(180deg);
   }

   /*===================== bg-aitem =====================*/
   .bg-aitem {
      width: 500px;
      height: 55px;
      position: relative;
      background: var(--border);
   }

   .top section .top-s .text:nth-child(4) {
      margin: 0;
   }

   .top #tab-4 .top-s .text {
      text-align: center;
      margin: 0 auto;
   }


   /*===================== Top =====================*/

   /*===================== About =====================*/
   .about section .top-s {
      align-items: center;
      justify-content: center;
   }

   .about .top-s .text,
   .policy .top-s .text,
   .contact .top-s .text {
      width: 650px;
   }

   .about #tab-4 .top-s .text,
   .policy .top-s .text,
   .contact .top-s .text {
      margin: 0;
   }

   .about #tab-4 .top-s .text {
      margin-top: 6vmin;
   }

   .about .bg-aitem {
      width: 650px;
      height: 55px;
      position: relative;
   }

   .thoughts {
      width: 650px;
      display: flex;
      justify-content: center;
      gap: 2vmin;
   }

   .profile {
      width: 800px;
      display: flex;
      align-items: flex-start;
      gap: 2vmin;
   }

   .oyama,
   .like {
      width: 50%;
   }

   .profile ol {
      height: 100%;
      padding-left: 1rem;
      margin: 0 auto 2vmin;
   }

   .profile ol p {
      position: relative;
      letter-spacing: 0.25rem;
      margin-bottom: -1rem;
   }

   .profile ol div {
      margin-top: 3rem;
      padding-left: 10px;
   }

   .profile li {
      font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 1.8rem);
      width: 100%;
      line-height: 20px;
      margin-bottom: -2%;
   }

   .profile li br {
      display: block;
      content: "";
      margin: -3px 0;
   }

   .profile li::before {
      content: "・";
      display: block;
      position: relative;
      left: -13px;
      bottom: -20px;
   }

   .profile li span {
      font-size: clamp(0.8rem, calc(0.8rem + 0.1vw), 1rem);
   }

   .profile .like .bg-aitem {
      width: 100%;
      height: 100px;
      margin-bottom: 3%;
      background: var(--hover);
   }

   /*========== .works */

   .about h3 {
      font-size: clamp(14rem, calc(14rem + 0.1vw), 16rem);
      color: var(--bg);
      position: relative;
      padding-left: 0;
      z-index: 1;
   }

   .about .work {
      width: fit-content;
      height: 75%;
   }

   .about .design,
   .about .art {
      width: 380px;
      height: 380px;
      bottom: 0;
      border: 1px solid var(--border);
   }

   .about .design {
      left: 0;
   }

   .about .art {
      right: 0;
   }

   .about .design video,
   .about .art video {
      position: absolute;
      top: 2.5%;
      left: 2.5%;
      width: 92.5%;
      height: 92.5%;
      margin: 0;
      background: var(--hover);
      border: 5px solid var(--bg);
   }

   /*========== .works */

   /*========== .color */

   .about .section4 .color {
      width: 650px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vmin;
      padding: 1rem;
      background-color: var(--border);
   }

   .about .section4 .bg-aitem {
      font-size: clamp(1.2rem, calc(1.2rem + 0.1vw), 1.6rem);
      width: 120px;
      height: 185px;
      margin: 0;
      padding: 1rem;
      border: 1px solid var(--hover);
   }

   .about .section4 .bg-aitem:nth-child(1) {
      background: var(--text);
   }

   .about .section4 .bg-aitem:nth-child(2) {
      color: var(--border);
      background: var(--hover);
   }

   .about .section4 .bg-aitem:nth-child(3) {
      color: var(--text);
   }

   .about .section4 .bg-aitem:nth-child(4) {
      color: var(--bg);
      background: var(--accent);
   }

   .about .section4 .bg-aitem:nth-child(5) {
      color: var(--text);
      background: none;
   }


   /*===================== About =====================*/

   /*===================== Service =====================*/

   .service .top-s,
   .policy .top-s,
   .contact .top-s {
      align-items: center;
      justify-content: center;
   }

   .policy .top-s .text,
   .contact .top-s .text {
      margin: 0;
   }

   .service .section1 .h2-bg {
      gap: 5px;
   }

   .service .section1 video {
      width: 70%;
      height: 80%;
      position: absolute;
      top: 10%;
      right: 0%;
      background: var(--text);
      z-index: -1;
      mix-blend-mode: difference;
   }

   /*========== .service img */
   .service .section3 img {
      width: 55%;
   }

   .flow-ol {
      font-size: clamp(2.4rem, calc(2.4rem + 0.5vw), 3rem);
      letter-spacing: 0.5rem;
      background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
   }

   .flow {
      font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2rem);
      margin: 2rem auto 5rem;
      padding-left: 5.4rem;
      letter-spacing: 0.2rem;
   }

   .flow:last-child {
      margin-bottom: 0;
   }

   .flow span {
      margin: 0 2rem;
   }

   .option {
      width: calc(870px - 50px);
      height: 400px;
      padding: 1rem 0.5rem 0;
      border: 1px solid var(--border);
      display: flex;
      background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
   }

   .option h3 {
      font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
      height: 45px;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid var(--border);
   }

   .option h4 {
      line-height: 3rem;
      border-bottom: 1px solid var(--border);
      padding-left: 0.5rem;
   }

   .option h4:nth-child(n + 2) {
      margin-top: 4rem;
   }

   .option ol {
      width: 100%;
      height: fit-content;
      margin: 0 0.4rem;
   }

   .option ol div {
      font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
      font-weight: 500;
      height: 330px;
      margin-top: 0.5rem;
      padding: 3rem 1rem;
      border: 1px solid var(--border);
      overflow-x: auto;
   }

   .option ol li {
      font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.6rem);
      width: fit-content;
      margin-top: 0.5rem;
      letter-spacing: 0.015rem;
   }

   .service .section5 .co-li {
      display: flex;
      align-items: center;
      font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
   }

   .service .section5 .co-li a {
      margin-top: 0;
   }

   /*===================== Service =====================*/

   /*===================== Contents =====================*/

   .contents .main-se {
      width: 85vmin;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 25px;
      margin: 12vmin auto 0;
      padding: 3rem;
      overflow-x: auto;
   }

   .contents .m-se {
      width: 50%;
      padding: 0 0.5rem;
   }

   .contents .m-se ol {
      margin-top: 5rem;
      padding: 0 1rem;
      border: 1px solid var(--border);
   }

   .contents .m-se ol h3 {
      line-height: 5rem;
      margin-top: 5rem;
   }

   .contents .m-se ol h3:nth-of-type(1) {
      margin-top: 0;
   }

   .contents .m-se li {
      font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2rem);
      font-weight: 600;
      padding: 2rem;
      margin-bottom: 1rem;
      border: 1px solid var(--border);
   }

   .contents .m-se li p {
      font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.6rem);
      font-weight: 400;
      padding-top: 1rem;
      border-top: 1px solid var(--border);
   }
}

/*===================== Contents =====================*/

@media screen and (max-width: 599px) {

   .pc {
      display: none;
   }

   .mobile {
      display: block;
   }

   /*===================== Scrollbar =====================*/



   /*===================== body text =====================*/

   html,
   body {
      font-weight: 500;
      padding-top: 0;
      background-image: url("/img/pd-bg-img02-2.png");
      overflow-y: auto;
   }

   body .mobile::before {
      top: 0;
      left: 0;
      width: 5vmin;
      border-right: 1px solid var(--border);
   }

   body .mobile::after {
      left: 0;
      height: 5vmin;
      border-top: 1px solid var(--border);
   }

   .guide-top {
      left: 0;
      height: 5vmin;
   }
   .guide-top::before,
   .guide-top::after {
      width: 5vmin;
      background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
      z-index: 1;
   }
   .guide-top::before {
      top: 0;
   }
   .guide-top::after {
      left: 0;
      border-right: 1px solid var(--border);
   }

   .mobile {

      h1 {
         /*font-size: 62.5%;=16px 12rem=120px*/
         font-size: clamp(2rem, calc(2rem + 0.5vw), 6rem);
         width: 100%;
         line-height: 10rem;
         letter-spacing: 0.005rem;
      }

      /* Mobile対応 */
      .noise {
         --lines: 0;
         /* モバイルでは少し大きく設定 */
      }

      h2 {
         /*font-size: 62.5%;=16px 6rem=62px*/
         font-size: clamp(6rem, calc(6rem + 0.5vw), 6.8rem);
         line-height: 6rem;
         -webkit-text-stroke-width: 1px;
      }

      .policy h2 {
         line-height: 8rem;
      }

      h3 {
         /*font-size: 62.5%;=16px 4rem=42px*/
         font-size: clamp(2rem, calc(2rem + 0.5vw), 4rem);
      }

      p {
         /*font-size: 62.5%;=16px 1.2rem=12px*/
         font-size: clamp(1rem, 0.314rem + 3.43vw, 1.6rem);
         letter-spacing: -0.075rem;
      }

      ol,
      ul {
         font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
      }

      li {
         font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
      }

      /*===================== リンク =====================*/

      main::before {
         display: none;
      }

      main a {
         padding: 1rem;
         letter-spacing: 0.15rem;
      }

      .top .section2 a,
      .top .section3 a {
         left: -25vmin;
         margin-bottom: 20vmin;
      }

      .top .section1 a {
         left: -25vmin;
      }

      a {
         font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2.4rem);
         padding: 0.25rem 0.5rem;
         left: 0;
         bottom: 0;
      }

      .top-s a {
         border: 1px solid var(--border);
      }

      a:active {
         color: rgba(217, 217, 217, 0.5);
      }

      header a::after,
      footer a::after {
         content: "";
         width: 100%;
         height: 1px;
         bottom: 5px;
         position: absolute;
         left: 0;
         transform: scale(0, 1);
         transform-origin: right top;
         transition: transform 0.3s ease;
      }

      header a:hover::after,
      footer a:hover::after {
         transform-origin: left top;
         transform: scale(1, 1);
      }

      main .button {
         display: flex;
         align-items: center;
         justify-content: center;
         line-height: 1;
         text-decoration: none;
         width: fit-content;
         height: auto;
         position: relative;
         transition: 0.3s;
         border: 1px solid var(--border);
      }

      main .button::before,
      main .button::after {
         content: "";
         display: block;
         position: absolute;
         border: 1px solid var(--border);
         width: 100%;
         height: 100%;
         transition: .3s;
      }

      main .button::before {
         top: -5px;
         left: -5px;
      }

      main .button::after {
         top: 3px;
         left: 3px;
      }

      main .button:active::before,
      main .button:active::after {
         top: 0;
         left: 0;
      }

      /*===================== リンク =====================*/

      .hr {
         height: 10px;
      }

      .hr::after {
         height: 110px;
         top: -50px;
      }


      /*===================== img =====================*/
      img {
         width: 65%;
         shape-margin: 0.75rem;
         mix-blend-mode: luminosity;
      }


      /*===================== Section =====================*/
      section {
         width: 100%;
      }

      /*===================== tabs h1 top =====================*/
      .tabs .top-h1 {
         top: 5%;
         width: 100%;
         border-top: 1px solid var(--border);
         mix-blend-mode: plus-lighter;
         padding: 0.15rem 0 0 3rem;
      }

      .tabs video {
         width: 80%;
         position: absolute;
         top: 10%;
         right: 0.5%;
         z-index: 0;
      }

      .tabs .caption {
         font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.6rem);
         padding: 1.5rem 1rem 1.5rem 2rem;
      }

      /*h1 bottom*/
      .tabs .top-h1 .caption {
         font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
         padding: 0.5rem 0;
      }

      /*===================== h1 top =====================*/

      /*===================== section =====================*/
      section .top-s {
         height: 650px;
         padding: 0 2rem;
         justify-content: center;
         align-items: center;
      }

      section .top-s::before {
         content: "";
         width: 85px;
         height: 60px;
      }

      .top .tabs::after,
      .top .section1::after,
      .top .section2::after,
      .top .section3::after,
      section .top-s::before,
      section .top-s::after {
         display: none;
      }


      .h2-bg {
         width: fit-content;
         height: 100px;
         padding: 1rem 1rem 0 2rem;
         position: absolute;
         top: 0;
         left: 0;
      }

      .top .section1 .h2-bg,
      .top .section2 .h2-bg,
      .top .section3 .h2-bg {
         border-right: 1px solid var(--border);
      }

      .policy .h2-bg {
         width: 50%;
         height: 50px;
      }

      .policy .h2-bg span {
         font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
      }

      .h2-bg p::before {
         content: "";
         width: 100%;
         height: 7%;
         position: absolute;
         left: 0;
         bottom: 0;
      }

      section .top-s .text {
         width: 100%;
         padding: 0 1rem;
         margin: 0;
      }

      .top section .top-s .text {
         width: 100%;
         height: 220px;
      }

      #tab-2 .top-s .text,
      .top .section3 .top-s .text {
         margin: 0;
      }

      /*===================== .service =====================*/

      .se-list {
         width: 120%;
         position: absolute;
         right: 0;
         bottom: 25vmin;
      }

      .top .se {
         position: relative;
         height: 70px;
         margin-top: -15px;
         z-index: -1;
      }

      .top .se h3 {
         width: 45%;
         position: absolute;
         bottom: 55%;
         padding: 0 1rem;
         border-bottom: 1px solid var(--border);
      }

      .top .se-list h3,
      .top .se-list p {
         right: 0;
      }

      .top .se p {
         position: absolute;
         bottom: 22%;
         padding-right: 2rem;
      }

      /*video size*/
      .top .se .video-1,
      .top .se .video-2,
      .top .se .video-3 {
         width: 45%;
         height: 70%;
         position: absolute;
         top: 0;
         right: 0;
         border: 1px solid var(--border);
         border-right: 0;
      }

      .se .video-1::before,
      .se .video-2::before,
      .se .video-3::before {
         content: "";
         width: 35px;
         height: 100%;
         position: absolute;
         left: 0;
         border-right: 1px solid var(--border);
      }


      /*===================== .works =====================*/

      .work {
         height: 45%;
         position: absolute;
         bottom: -25vmin;
      }

      .design,
      .art {
         position: absolute;
         border: 1px solid var(--border);
      }

      .design {
         bottom: 30%;
         left: 5%;
         width: 60%;
         height: 60%;
         border-left: 0;
      }

      .design video {
         width: 85%;
         height: 85%;
      }

      .art {
         bottom: 10%;
         right: 0;
         width: 50%;
         height: 55%;
      }

      .art video {
         width: 85%;
         height: 85%;
      }

      /*===================== section in-box =====================*/

      section #top-img {
         width: 80%;
         top: -10%;
         right: 0;
      }

      /*===================== img*/
      section img {
         position: absolute;
      }

      .tabs img {
         width: 80%;
         top: -15%;
         right: -5%;
      }

      .top .section1 img,
      .top .section2 img,
      .top .section3 img,
      .top .section4 img {
         width: 35%;
      }

      .top .section1 img {
         height: 400px;
         top: 25%;
         right: -5%;
         /*clip-path: circle(40% at left);*/
      }

      .top .section1 img:last-child {
         width: 30%;
         height: 350px;
         top: 45%;
         right: 15%;
      }

      .top .section3 img {
         width: 25%;
         left: 0;
         bottom: 3%;
      }

      .top .section4 img {
         width: 45%;
         bottom: -5%;
         right: 0;
         transform: rotate(180deg);
      }

      /*===================== bg-aitem =====================*/
      .bg-aitem {
         width: 100%;
         height: 5%;
         position: relative;
      }

      .top section .top-s .text:nth-child(3) {
         width: 90%;
         margin: 2% 0 0;
      }

      /*===================== Top =====================*/


      .about .top-s .text,
      .policy .top-s .text,
      .contact .top-s .text {
         width: 100%;
      }

      /*===================== About =====================*/
      @media screen and (max-width: 355px) {
         .about #tab-1 .top-s .text {
            margin-top: 50px;
         }
      }

      .about .bg-aitem {
         width: 100%;
         height: 5%;
      }

      .thoughts {
         width: 100%;
         gap: 3vmin;
      }

      /*========== .Profile */
      .profile {
         width: 100%;
         height: fit-content;
         display: block;
      }

      .profile .like .bg-aitem {
         height: 50px;
      }

      .oyama,
      .like {
         width: 100%;
         padding: 0 1rem;
      }

      .profile ol {
         margin: 0 auto 10%;
         padding: 0;
      }

      .profile ol div {
         padding-left: 0;

      }

      .profile li {
         font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.6rem);
         margin-bottom: -5%;
      }

      .profile li br {
         display: block;
         content: "";
         margin: -5px 0;
      }

      .profile li::before {
         content: "・";
         display: block;
         position: relative;
         left: -13px;
         bottom: -18px;
      }

      .profile li span {
         font-size: clamp(0.8rem, calc(0.8rem + 0.1vw), 1rem);
      }

      /*========== .Profile */

      /*========== .works */

      .about .work {
         top: 0;
      }

      .about h3 {
         font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
         position: relative;
         padding-left: 0;
         z-index: 1;
      }

      .about .design,
      .about .art {
         width: 50%;
         height: 35%;
         position: relative;
         border: 1px solid var(--border);
      }

      .about .design {
         left: -2.5%;
      }

      .about .art {
         right: -2.5%;
      }

      .about .design video,
      .about .art video {
         position: absolute;
         top: 3.5%;
         left: 3.5%;
         background: rgba(46, 46, 46, 0.5);
         border: 1px solid var(--border);
      }

      /*========== .works */

      /*========== .color */
      .section4 p {
         width: 100%;
      }

      .about .section4 .color {
         width: 100%;
         bottom: 20vmin;
         padding: 0.5rem;
         gap: 2vmin;
         background-color: var(--border);
      }

      .about .section4 .bg-aitem {
         font-size: clamp(1rem, calc(1rem + 0.5vw), 1.4rem);
         width: 18%;
         height: 130px;
         padding: 0.5rem;
      }

      /*===================== About =====================*/

      /*===================== Service =====================*/

      .service .section1 video {
         width: 70%;
         height: 80%;
         position: absolute;
         top: 10%;
         right: 0%;
         z-index: -1;
         mix-blend-mode: difference;
      }

      .service .top-s,
      .policy .top-s,
      .contact .top-s {
         align-items: center;
         justify-content: center;
      }

      .policy .top-s .text,
      .contact .top-s .text {
         margin: 0;
      }

      /*========== .service img */
      .service .section3 img {
         width: 55%;
      }

      .flow-ol {
         font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
         font-weight: 600;
      }

      .flow {
         font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 1.8rem);
         font-weight: 500;
         margin-bottom: 2rem;
         padding-left: 1.5rem;
      }

      .option {
         width: calc(800px - 100px);
         height: 350px;
         padding: 1rem 0.5rem;
         border: 1px solid var(--border);
         display: flex;
         justify-content: center;
      }

      .option h3 {
         font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
         height: 35px;
         padding: 1rem 2rem;
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         border: 1px solid var(--border);
      }

      .option ol {
         width: 100%;
         margin: 0 0.3rem;
      }

      .option ol div {
         font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
         font-weight: 500;
         height: 290px;
         margin-top: 0.5rem;
         padding: 1rem;
         border: 1px solid var(--border);
      }

      .option ol li {
         font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
         width: fit-content;
      }
   }

   /*===================== Service =====================*/
}

@media screen and (min-width: 600px) and (max-width: 1299px) {}